
backcall==0.1.0
bcrypt==3.1.7
bleach==3.1.5
blinker==1.4
bson==0.5.10
email-validator==1.1.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Ext==0.1
flask-googlemaps==0.4.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.0.3
Flask-Moment==0.6.0
flask-mongoengine==0.9.5
Flask-PyMongo==2.3.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
google-pasta==0.2.0
grpcio==1.28.1
gunicorn==20.0.4
h5py==2.10.0
idna==2.8
importlib-metadata==1.6.0
jdcal==1.3
jedi==0.17.0
Jinja2==2.10
jsonschema==3.2.0
matplotlib==3.1.3
mccabe==0.6.1
mistune==0.8.4
mock==4.0.2
mongoengine==0.19.1
nbconvert==5.6.1
nbformat==5.0.6
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.4
oauthlib==3.1.0
opencv-python==4.2.0.34
openpyxl==2.4.2
opt-einsum==3.2.1
packaging==20.3
pandocfilters==1.4.2
parso==0.7.0
passlib==1.7.2
pbr==5.4.4
pefile==2019.4.18
pickleshare==0.7.5
Pillow==7.0.0
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pydirectory==0.1.15
Pygments==2.6.1
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.4.4
pymongo==3.10.1

reportlab==3.5.42
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.13.0
SQLAlchemy==1.2.11
stevedore==1.31.0
tables==3.6.1
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texttable==0.8.7
toml==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
twilio==6.33.1
typed-ast==1.4.1
url==0.4.2
urllib3==1.25.9
visitor==0.1.3
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wrapt==1.11.2
WTForms==2.2.1
xmltodict==0.12.0
